/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url("../fonts/dosis-v7-latin-regular.woff2") format("woff2"), url("../fonts/dosis-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"), local("Dosis-Medium"), url("../fonts/dosis-v7-latin-500.woff2") format("woff2"), url("../fonts/dosis-v7-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* dosis-600 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"), url("../fonts/dosis-v7-latin-600.woff2") format("woff2"), url("../fonts/dosis-v7-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"), local("Dosis-Bold"), url("../fonts/dosis-v7-latin-700.woff2") format("woff2"), url("../fonts/dosis-v7-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto-v18-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@-webkit-keyframes change-gradient {
  0% {
    background: #f21780; }
  100% {
    background: #fd712c; } }

@keyframes change-gradient {
  0% {
    background: #f21780; }
  100% {
    background: #fd712c; } }

body {
  font-family: 'Roboto', Arial, sans-serif; }

.navbar-collapse {
  -webkit-box-flex: 0;
          flex-grow: 0; }

.section-header {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  text-align: center; }
  .section-header h2 {
    color: #222222;
    font-family: 'Dosis';
    font-size: 36px;
    font-weight: 500;
    line-height: 30px; }
  .section-header p {
    color: #777777;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }
  .section-header--white h2 {
    color: #fff;
    font-weight: 400; }

.button {
  display: inline-block;
  height: 40px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  color: #222222;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
  transition-property: box-shadow, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  .button:hover, .button:focus {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 0 0 4px rgba(0, 0, 0, 0.1); }
  .button:active {
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3), 0 0 0 4px rgba(0, 0, 0, 0.1); }
  .button--font-black {
    color: black !important; }
  .button--width-sm {
    width: 139px !important; }
  .button--with-border {
    border: 1px solid #eeeeee;
    line-height: 28px; }

.header {
  position: relative;
  margin-bottom: 120px;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%); }
  .header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-header.png");
    background-repeat: no-repeat;
    background-position: right center; }
  .header .navbar {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 140px; }

.header-title {
  margin-bottom: 220px; }
  .header-title__wrapper {
    padding: 5px;
    color: #fff;
    text-shadow: 0px 0px 6px black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
    .header-title__wrapper h1 {
      font-family: 'Dosis', 'Roboto', Arial, sans-serif;
      font-size: 54px;
      font-weight: 600;
      line-height: 60px; }

.download {
  min-height: 474px;
  padding-top: 110px;
  padding-bottom: 120px;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%); }

.download-button {
  display: -webkit-box;
  display: flex;
  min-height: 115px;
  margin-bottom: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-color: #ffffff;
  transition-duration: 500ms; }
  .download-button:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none; }
  .download-button:active {
    transition-duration: 0ms;
    box-shadow: none; }
  .download-button__icon {
    position: relative;
    width: 115px;
    min-height: 115px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f8fafc; }
    .download-button__icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .download-button__text {
    padding: 19px;
    padding-top: 27px;
    padding-right: 10px; }
    .download-button__text p {
      margin-bottom: 0.65rem; }
    .download-button__text-header {
      color: #222222;
      font-family: 'Dosis';
      font-size: 30px;
      font-weight: 600;
      line-height: 24px; }
    .download-button__text-helper {
      color: #777777;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }

.features-item p {
  color: #777777; }

.features-item__icon {
  position: relative;
  width: 75px;
  height: 75px;
  margin-right: 25px;
  border: 1px solid #eeeeee;
  border-radius: 38px; }
  .features-item__icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f8fafc; }

.preview {
  padding-top: 120px;
  padding-bottom: 120px; }

.prices {
  padding-top: 120px;
  padding-bottom: 120px; }

.prices-card {
  margin-bottom: 30px; }
  .prices-card__wrapper {
    background-color: #f8fafc;
    transition-duration: 500ms; }
    .prices-card__wrapper:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      background-color: #fff; }
      .prices-card__wrapper:hover .canvas-price__canvas {
        opacity: 1; }
      .prices-card__wrapper:hover .canvas-price__price-value {
        color: #fff; }
      .prices-card__wrapper:hover .canvas-buy-button {
        opacity: 1; }
      .prices-card__wrapper:hover a.prices-card__button span {
        color: #fff; }
  .prices-card__header {
    display: block;
    font-family: 'Dosis', 'Arial', sans-serif; }
  .prices-card__price {
    position: relative;
    height: 80px;
    margin-bottom: 65px; }
  .prices-card__features {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px; }
    .prices-card__features li {
      line-height: 30px;
      font-size: 14px;
      font-weight: 300;
      color: #777777;
      border-bottom: 1px dashed #eeeeee; }
      .prices-card__features li:last-child {
        border: none; }
  .prices-card__btns {
    padding-bottom: 40px; }
  .prices-card__trial-link {
    display: inline-block;
    margin-bottom: 14px;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.95px; }
    .prices-card__trial-link:hover, .prices-card__trial-link:focus {
      color: #000; }
  .prices-card__button {
    position: relative;
    width: 166px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden; }
    .prices-card__button span {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      transition: 500ms; }

.canvas-price__background {
  position: absolute;
  top: 0;
  left: 0; }

.canvas-price__canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 500ms; }

.canvas-price__price-value {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Dosis;
  font-weight: 500;
  font-size: 48px;
  transition-duration: 500ms; }

.canvas-price__sup {
  font-size: 18px;
  vertical-align: 21px; }

.canvas-price__sub {
  font-size: 18px; }

.canvas-buy-button {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 500ms; }

.reviews {
  padding-top: 120px;
  padding-bottom: 120px; }

.video {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../img/video-preview.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .video__play-btn {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%); }
    .video__play-btn:hover {
      cursor: pointer; }
    .video__play-btn:active {
      cursor: pointer;
      top: 50.2%;
      box-shadow: inset 0px 5px 30px -3px rgba(0, 0, 0, 0.5); }
    .video__play-btn::after {
      content: '';
      position: absolute;
      display: block;
      width: 25px;
      height: 29px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-42%, -50%);
              transform: translate(-42%, -50%);
      background-image: url("../img/play-icon.svg"); }

.footer {
  min-height: 180px;
  padding-top: 55px;
  background-color: #222222; }
  .footer__links-wrapper {
    margin-bottom: 10px; }
  .footer__links:not(:last-child) {
    margin-right: 30px; }
  .footer__copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }
