/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url("../fonts/dosis-v7-latin-regular.woff2") format("woff2"), url("../fonts/dosis-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"), local("Dosis-Medium"), url("../fonts/dosis-v7-latin-500.woff2") format("woff2"), url("../fonts/dosis-v7-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* dosis-600 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"), url("../fonts/dosis-v7-latin-600.woff2") format("woff2"), url("../fonts/dosis-v7-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"), local("Dosis-Bold"), url("../fonts/dosis-v7-latin-700.woff2") format("woff2"), url("../fonts/dosis-v7-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto-v18-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  font-family: "Roboto", Arial, sans-serif; }

.navbar-collapse {
  -webkit-box-flex: 0;
          flex-grow: 0; }

.header {
  position: relative;
  margin-bottom: 120px;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%); }
  .header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg-header.png");
    background-repeat: no-repeat;
    background-position: right center; }
  .header .navbar {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 140px; }
  .header-title {
    margin-bottom: 220px; }

.features-item p {
  color: #777777; }

.features-item__icon {
  position: relative;
  width: 75px;
  height: 75px;
  margin-right: 25px;
  border: 1px solid #eeeeee;
  border-radius: 38px; }
  .features-item__icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%); }

.preview {
  padding-top: 120px;
  padding-bottom: 120px; }

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7fafc; }
  .gallery__header p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
