$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";


$color-purple: #f21780;
$color-orange: #fd712c;
$color-grey: #eeeeee;
$text-grey: #777777;
$color-dark: #222222;
$color-bg-light: #f8fafc;
$gradient: linear-gradient(to right, $color-orange 0%, $color-purple 100%);
$reverse-gradient: linear-gradient(to right, $color-purple 0%, $color-orange 100%);

