$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";


$color-purple: #f21780;
$color-orange: #fd712c;
$color-grey: #eeeeee;
$text-grey: #777777;
$color-bg-light: #f8fafc;
$gradient: linear-gradient(to right, #fd712c 0%, #f21780 100%);
