.prices-card {
  margin-bottom: 30px;

  &__wrapper {
  background-color: $color-bg-light;
  transition-duration: 500ms;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      .canvas-price__canvas {
        opacity: 1;
      }
      .canvas-price__price-value {
        color: #fff;
      }
    }
  }
  &__header {
    display: block;
    font-family: 'Dosis', 'Arial', sans-serif;
  }
  &__price {
    position: relative;
    height: 80px;
    margin-bottom: 65px;
  }
  &__features {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    & li {
      line-height: 30px;
      font-size: 14px;
      font-weight: 300;
      color: $text-grey;
      border-bottom: 1px dashed $color-grey;
      &:last-child {
        border: none;
      }
    }
  }
  &__btns {
    padding-bottom: 40px;
  }
  &__trial-link {
    display: inline-block;
    margin-bottom: 14px;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.95px;

    &:hover, &:focus {
      color: #000;
    }
  }
  &__button {
    width: 166px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
  }
}
