.prices-canvas {
  &__background {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: 500ms;
  }
  &__price-value {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

    font-family: Dosis;
    font-weight: 500;
    font-size: 48px;
    transition-duration: 500ms;
  }
  &__sup {
    font-size: 18px;
    vertical-align: 21px;
  }
  &__sub {
    font-size: 18px;
  }
}


