.prices-card {
  margin-bottom: 30px;

  &__wrapper {
  background-color: rgba(252, 206, 138, 0.795);
  transition-duration: 500ms;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      .prices-canvas__canvas {
        opacity: 1;
      }
      .prices-canvas__price-value {
        color: #fff;
      }
    }
  }
  &__header {
    display: block;
  }
  &__price {
    position: relative;
    height: 80px;
    margin-bottom: 40px;
  }
  &__features {

  }
  &__btn {

  }
}
