footer.footer
  .container
    .row.justify-content-center.footer__links-wrapper
      ul.list-inline
        li.footer__links.list-inline-item
          a(href='#')
            img(src='./img/icons/icon-fb.png', alt='Facebook logo')
        li.footer__links.list-inline-item
          a(href='#')
            img(src='./img/icons/icon-twitter.png', alt='Twitter logo')
        li.footer__links.list-inline-item
          a(href='#')
            img(src='./img/icons/icon-ball.png', alt='Ball logo')
        li.footer__links.list-inline-item
          a(href='#')
            img(src='./img/icons/icon-be.png', alt='Behance logo')
    .row.justify-content-center
      p.footer__copyright Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com
