header.header
  .container
    nav.navbar.navbar-expand-sm.justify-content-between.navbar-dark
      a.navbar-brand(href='#')
        img.d-inline-block.align-bottom(src='./img/logo.svg', width='48px', height='40px', alt='Giant App logo')
        span.h2 Giant
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link.text-white(href='#') Home
          li.nav-item
            a.nav-link.text-white(href='#') Features
          li.nav-item
            a.nav-link.text-white(href='#') Pricing
          li.nav-item
            a.nav-link.btn.btn-light.text-dark(href='#') Download Now
    .row
      .header-title.col-sm-6
        .header-title__wrapper
          h1
            | A Powerful & Unique
            br
            | App Landing Template
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          ul
            li Unlimited colors: banner with images, slider or video
            li Fully Responsive and powered by HTML5 and CSS3
            li Very easy to customize : set up in minutes
        a.btn.btn-light(href='#') Start Exploring Us
