header.container
  nav.navbar
    a.navbar-brand(href='#')
      img.d-inline-block.align-bottom(src='./img/logo.svg', width='48px', height='40px', alt='Giant App logo')
      span.h2 Giant
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
