.slider-gallery {
  position: relative;
  height: 500px;

  &__nav-prev {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nav-next {
    position: absolute;
    right: -90px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__image {

  }

  &__lvl-1-img {
    width: 360px;
    height: 500px;
  }

  &__lvl-2-img {
    width: 262px;
    height: 440px;
  }

  &__lvl-3-img {
    width: 262px;
    height: 360px;
  }

  &__lvl-4-img {
    width: 262px;
    height: 280px;
  }


}
