.slider-gallery {
  position: relative;
  height: 500px;

  &__nav-prev {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nav-next {
    position: absolute;
    right: -90px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__image {

  }

  &__lvl-1-img {

  }

  &__lvl-2-img {

  }

  &__lvl-3-img {

  }

  &__lvl-4-img {

  }


}
