extends layout.pug

block main-content
  main.main
    section.container
      ul.features.list-unstyled.row
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='/img/icons/icon-01.png', alt='Feature icon')
          .media-body
            h4 Sell any product online
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='/img/icons/icon-02.png', alt='Feature icon')
          .media-body
            h4 Very easy to customize
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='/img/icons/icon-03.png', alt='Feature icon')
          .media-body
            h4 Unlimited colors
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='/img/icons/icon-04.png', alt='Feature icon')
          .media-body
            h4 Responsive, HTML5, CSS3
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='/img/icons/icon-05.png', alt='Feature icon')
          .media-body
            h4 Designed to convert
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='/img/icons/icon-06.png', alt='Feature icon')
          .media-body
            h4 With no boundaries
            p Over 92% of computers are infected with Adware and spyware. Such software is
