extends layout.pug
block main-content
  main.main
    section.container
      ul.features.list-unstyled.row
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='img/icons/icon-01.png', alt='Feature icon')
          .media-body
            h4 Sell any product online
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='img/icons/icon-02.png', alt='Feature icon')
          .media-body
            h4 Very easy to customize
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='img/icons/icon-03.png', alt='Feature icon')
          .media-body
            h4 Unlimited colors
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='img/icons/icon-04.png', alt='Feature icon')
          .media-body
            h4 Responsive, HTML5, CSS3
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='img/icons/icon-05.png', alt='Feature icon')
          .media-body
            h4 Designed to convert
            p Over 92% of computers are infected with Adware and spyware. Such software is
        li.features-item.media.col-sm-12.col-md-6.col-lg-4
          .features-item__icon
            img(src='img/icons/icon-06.png', alt='Feature icon')
          .media-body
            h4 With no boundaries
            p Over 92% of computers are infected with Adware and spyware. Such software is
      hr
    article.preview.container
      .row
        .col-sm-12.col-md-6
          img(src='img/content-01.png', alt='App preview')
        .col-sm-12.col-md-6
          h2 We don’t leave you stranded
          p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
          p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer.
          ul
            li Unlimited colors: banner with images, slider or video
            li Fully Responsive and powered by HTML5 and CSS3
            li Very easy to customize : set up in minutes
    section.gallery
      .container
        header.gallery__header.text-center
          h2 Take a look at our screenshots
          p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
    section.prices.container
      .row
        header.prices__header.text-center
          h2 We've got the perfect package for you
          p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
      ul.row.list-unstyled
        li.price-card.col-sm-6.col-md-6.col-lg-3.text-center
          .price-card__wrapper
            h5.price-card__header Basic
            .price-card__price.price-canvas
              canvas.price-canvas__background
              canvas.price-canvas__canvas
              .price-canvas__price-value
                span.price-canvas__sup $
                | 12.0
                span.price-canvas__sub /m
            .price-card__features
              ul.list-unstyled
                li One User
                li Multiple Access
                li SMS Support
                li 24/7 Online Support
            .price-card__btns
              a(href='#') Start Free Trial
              a(href='#') Buy now
        li.price-card.col-sm-6.col-md-6.col-lg-3.text-center
          .price-card__wrapper
            h5.price-card__header Standard
            .price-card__price.price-canvas
              canvas.price-canvas__background
              canvas.price-canvas__canvas
              .price-canvas__price-value
                span.price-canvas__sup $
                | 24.0
                span.price-canvas__sub /m
            .price-card__features
              ul.list-unstyled
                li Five User
                li Multiple Access
                li SMS Support
                li 24/7 Online Support
            .price-card__btns
              a(href='#') Start Free Trial
              a(href='#') Buy now
        li.price-card.col-sm-6.col-md-6.col-lg-3.text-center
          .price-card__wrapper
            h5.price-card__header Premium
            .price-card__price.price-canvas
              canvas.price-canvas__background
              canvas.price-canvas__canvas
              .price-canvas__price-value
                span.price-canvas__sup $
                | 250.0
                span.price-canvas__sub /m
            .price-card__features
              ul.list-unstyled
                li Twenty User
                li Multiple Access
                li SMS Support
                li 24/7 Online Support
            .price-card__btns
              a(href='#') Start Free Trial
              a(href='#') Buy now
        li.price-card.col-sm-6.col-md-6.col-lg-3.text-center
          .price-card__wrapper
            h5.price-card__header Enterprise
            .price-card__price.price-canvas
              canvas.price-canvas__background
              canvas.price-canvas__canvas
              .price-canvas__price-value
                span.price-canvas__sup $
                | 999.0
                span.price-canvas__sub /m
            .price-card__features
              ul.list-unstyled
                li Unlimited User
                li Multiple Access
                li SMS Support
                li 24/7 Online Support
            .price-card__btns
              a(href='#') Start Free Trial
              a(href='#') Buy now
    section.video
      .video__play-btn
    section.reviews.container
      .row
        header.reviews__header.text-center
          h2 What our customers are saying
          p Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
