.download {
  min-height: 474px;

  padding-top: 120px;

  background-image: $gradient;

  &__header {
    color: #fff;
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
  }
}
