.download {
  min-height: 474px;

  padding-top: 120px;

  background-image: $gradient;

  &__header {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

    color: #fff;
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
  }
}
