.features {

}

.features-item {
  & p {
    color: $text-grey;
  }

  &__icon {
    position: relative;

    width: 75px;
    height: 75px;
    margin-right: 25px;

    border: 1px solid $color-grey;
    border-radius: 38px;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // TODO: Выяснить почему по оси X смещение 50% выставляет иконки не по центру. Перебором подобрал подходящее значение - X-45%;
      // Обновление по поводу позиции: на убунту в хроме при X-45% и разрешении 1600х900 иконки явно не по центру расположены. При X-50% всё встаёт ровно.
    }
  }
}
