.footer {
  min-height: 180px;
  padding-top: 55px;
  background-color: $color-dark;

  &__links-wrapper {
    margin-bottom: 20px;
  }

  &__links:not(:last-child) {
    margin-right: 30px;
  }

  &__copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}
