.header {
  position: relative;
  // background-image: $gradient;
  background-image: url('/img/bg-header.png');
  background-repeat: no-repeat;
  background-position: right center;

  & .navbar {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 140px;
  }

  & .title {
    margin-bottom: 220px;
  }
}
