.price-card {
  margin-bottom: 30px;

  &__wrapper {
  background-color: rgba(252, 206, 138, 0.795);
  }
  &__header {
    display: block;
  }
  &__price {
    position: relative;
    height: 80px;
    margin-bottom: 40px;
  }
  &__features {
  }
  &__btn {

  }

  &:hover {
    .price-card__price {
      color: #fff;
    }
  }
}
