.price-card {
  // background-color: $color-bg-light;
  margin-bottom: 30px;
  &__wrapper {
      background-color: $color-bg-light;
  }
  &__header {
    display: block;
  }
  &__price {
    background-color: #fff;
  }
  &__features {
  }
  &__btn {

  }

  &:hover .price-card__price {
    background-image: $gradient;
  }
  &:hover .pentagon-block__triangle {
    border-image: $gradient;
  }
}
