.price-card {
  // background-color: $color-bg-light;
  background-color: rgb(255, 217, 0);
  &__header {
    display: block;
  }
  &__price {
    background-color: #fff;
  }
  &__features {
  }
  &__btn {

  }
}
